.noticebar-wrapper {
  position: absolute;
  /* display: flex; */
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
  width: 70%;
  color: white;
  background-color: #0000008c;
  justify-content: center;
}