.userlist-wrapper {
  background-color: #0000008c;
  border-radius: 10px;
  color: #dcdcdc8c;
  width: 700px;
  height: 75px;
  margin: 15px 0px;
  display: flex;
  align-items: center;
}

