.input-wrapper {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #0000008c;
  border-radius: 5px;
  color: white;
}

.input-field {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.input-field input {
  color: white;
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  border: none;
  outline: 0;
  padding: 0px 20px 0px 0px;
}

.input-field form {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.input-toggle {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.button-submit {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #00000033;
  border: none;
  border-radius: 5px;
  border: 1px solid #ffffff38;
  
}