.useritem-wrapper {
  background-color: #0000008c;
  color: #dcdcdc8c;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-bottom: .5px solid #5f5f5f38;
}

.useritem p {
  max-width: 72%;
}

.useritem-wrapper:hover {
  background-color: #000000af;
  transition: 0.3s;
  cursor: pointer;
}

.useritem-wrapper-completed {
  background-color: #000000af;
}
.wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.ul-wrapper {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

li {
  position: absolute;
  list-style-type: none;
  line-height: 16px;
  font-size: 14px;
  padding-left: 40px;
}

.checkmark {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00000042;
  border: 2px solid #373737;
  cursor: pointer;
  transition: all 0.25s;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.checkmark:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: double 2px transparent;
  background-image: linear-gradient(#000000af, #000000af), linear-gradient(30deg, rgba(87,221,255,1) 0%, rgba(136,106,195,1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  
}

.completed {
  background: linear-gradient(30deg, rgba(87,221,255,1) 0%, rgba(136,106,195,1) 100%);
}

.completed li p {
  text-decoration: line-through;
}

.button-delete {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  transition: 1s;
}

.button-delete:hover {
  background-color: #040a0c;
}