.useritem-wrapper {
  border-radius: 10px;
  color: #dcdcdc8c;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.button-wrapper {

}

li {
  list-style-type: none;
}
